body {
    background-color: hsl(30, 38%, 92%);
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
}

.card .product {
    border-radius: 20px 20px 0 0;
    margin-top: 50px;
    width: 90vw;
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 90vw;
}

.container .name {
    color: hsl(228, 12%, 48%);
    margin-left: 25px;
    letter-spacing: 4px;
}

.container h1 {
    color: hsl(212, 21%, 14%);
    font-weight: 700;
    font-family: 'Fraunces', serif;
    margin-left: 25px;
}

.container .description {
    margin: 0 25px 0 25px;
}

.container .price {
    margin-left: 25px;
    display: flex;
    align-items: center;
}

.container .price .new-price {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 2em;
    font-weight: 700;
}

.container .price .old-price {
    margin-left: 20px;
    text-decoration: line-through;
}

.container button {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    width: -webkit-fill-available;
    width: -moz-available;
    margin: 0 25px;
    padding: 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 700;
    line-height: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.container button .icon {
    margin: 0 10px;
    width: auto;
}

.attribution {
    padding-top: 50px;
}

@media (min-width: 1440px) {
    .card {
        flex-wrap: nowrap;
    }

    .card picture {
        height: 45vh;
    }

    .card .product {
        border-radius: 20px 0 0 20px;
        width: 20vw;
        height: 45vh;
        margin: 0;
    }

    .container {
        background-color: hsl(0, 0%, 100%);
        width: 20vw;
    }

    .container h1 {
        margin: 0 70px 0 25px;
    }

    .container .description {
        margin: 0 45px 0 25px;
    }
}